
<div class ="homepage">

<div class="body">


<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>


<div class="lollipop">
  <img src='assets/shoyacodescopy.png'/>
</div>

<ul class="socialmedia">
  <li><a href="https://instagram.com/mstar2007/"><img src="assets/social_04copy.png"></a></li>
  <li><a href="https://twitter.com/LeshoyaStarkey"><img src="assets/social_02copy.png"></a></li>
  <li><a href="https://github.com/GaBison2007"><img src="assets/github-512copy.png"></a></li>
  <li><a href="https://www.linkedin.com/in/olstarkey"><img src="assets/social_06copy.png"></a></li>
  <li class="contactme"><p>Contact Me !</p></li>
</ul>

<ul class="emailsignup">
  <li>
    <label>
      Give Me Your Email: <input type="email" name="email-address" placeholder="name@domain.com">
    </label>
  </li>
</ul>

<div class = "welcome">
  <h1>Welcome to ShoyaCodes.com</h1>
    <p>
      <% @hello.each do |hi| %>
        <%=hi %>
      <% end %>
    </p>
    <p> I'm LeShoya Starkey, an aspiring web developer and Southern transplant to the great city of Seattle, Washington!</p>
    <p> Thanks for visiting and happy coding!</p>
    <p>*Website Is Baking and Under Construction*</p>
  </div>


<div class="mainpic">
  <!-- put work images all inside background pic div "mainpic" -->

  <div class="workwrapper">
  <!-- work wrapper div created to move all work buttons entirely if needed -->

    <div class="workheader">
      <img src="assets/moreinfocopy.jpg"/>
    </div>

      <div class="mywork">

        <ul>
          <li><a href="/resume"><img src="assets/resumecopy.png"/></a></li>
          <li><a href="/projects"><img src="assets/projectsconstructcopy.png"/></a></li>
        </ul>

      </div>


      <div class="myworkcol2">
        <ul>
          <li>
            <a href="https://sugarcoding.wordpress.com/"><img src="assets/blogimagecopy.png"/></a>
          </li>
        </ul>
      </div>

  </div>

</div>


  <div class="work">

    <!-- created a div class "retropics" and applied to all bottom images to create
     horizontal flow with 3 equal parts on page, wrapped inside a div class "work"
     to move all images if need be -->
     <div class="retropics">
       <img src="assets/retromancopy.jpg"/>
     </div>

     <div class="retropics">
       <img src="assets/201Hcopy.jpg"/>
     </div>

     <div class="retropics">
       <img src="assets/181Hcopy.jpg"/>
     </div>
   </div>





    <div class="pairprogram">
      <p> I'm always Open For Pair Programming!!</p>
      <p> I Enjoy Long Walks On The Beach, Travel, and Videogames!</p>
      <p> Click The Button on the Right To Send Me An Email</p>
    </div>

    <div class ="pairprogram">
      <a href="mailto:olstarkey@gmail.com=Pair%20program%20with%20me" title="Pair program with me!">
        <img src="assets/badgecopy.png" alt="Pair program with me!" />
      </a>
    </div>


  </div>


  </div>
</div>
