
<div class ="homepage">

<div class="lollipop">
  <img src='assets/shoyacodescopy.png'/>
</div>

<ul class="socialmedia">
  <li><a href="https://www.linkedin.com/in/olstarkey"><img src="assets/linkedincopy.png"></a></li>
  <li><a href="https://twitter.com/LeshoyaStarkey"><img src="assets/twittericoncopy.jpg"></a></li>
  <li><a href="https://instagram.com/mstar2007/"><img src="assets/instagramcopy.png"></a></li>
  <li><a href="https://github.com/GaBison2007"><img src="assets/github-512copy.png"></a></li>
  <li class="contactme">Contact Me!</li>
</ul>

<ul class="emailsignup">
  <li>
    <label>
      Give Me Your Email! <input type="email" name="email-address" placeholder="name@domain.com">
    </label>
  </li>
</ul>

<div class = "welcome">
  <h1>Welcome to ShoyaCodes.com</h1>
    <p>My name is LeShoya Starkey and I am an aspiring web developer. A southern transplant to the great city of Seattle, Washington!</p>
    <p>Feel free to browse and connect with me. Thanks for visiting and happy coding!</p>
    <p>*Website Is Baking and Under Construction*</p>
  </div>


<div class="mainpic">
  <!-- put work images all inside background pic div "mainpic" -->

  <div class="workwrapper">
  <!-- work wrapper div created to move all work buttons entirely if needed -->

    <div class="workheader">
      <img src="assets/moreinfocopy.jpg"/>
    </div>

      <div class="mywork">

        <ul>
          <li><a href="/resume"><img src="assets/resumecopy.png"/></a></li>
          <li><img src="assets/projectsconstructcopy.png"/></li>
        </ul>

      </div>


      <div class="myworkcol2">
        <ul>
          <li>
            <a href="https://sugarcoding.wordpress.com/"><img src="assets/blogimagecopy.png"/></a>
          </li>
        </ul>
      </div >

  </div>

</div>







<div class="work">

<!-- created a div class "retropics" and applied to all bottom images to create
 horizontal flow with 3 equal parts on page, wrapped inside a div class "work"
 to move all images if need be -->
  <div class="retropics">
    <img src="assets/retromancopy.jpg"/>
  </div>

  <div class="retropics">

    <div class="pairprogram">
      <p> I'm always Open For Pair Programming!!</p>
      <p> I Enjoy Long Walks On The Beach!</p>
      <p> Click The Button Below To Send Me An Email</p>

      <a href="mailto:olstarkey@gmail.com=Pair%20program%20with%20me" title="Pair program with me!">
       <img src="assets/badgecopy.png" alt="Pair program with me!" />
      </a>
    </div>

  </div>

  <div class="retropics">
   <img src="assets/181Hcopy.jpg"/>
  </div>


</div>
