
<div class=projectspage>

  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

  <div class=body>

    <div class =projects>
        <p>Though I Don't Have Any Projects Right Now, Stay Tuned For More!! Scroll Down to Learn About My Program</p>
    </div>

    <div class=codebuilders>
      <h1>-LeShoya Starkey</h1>
    </div>

    <div class=computerimage>
      <img src="/assets/creatives-desk.jpg"/>
    </div>

    <div class=codeimage>
      <a href="http://code.builders/"><img src="/assets/codebuilders.png"></a>
    </div>
</div>
</div>
