<div class="resume">

<a href="/"><p>Go Back Home</p></a>

<h1>LeShoya Starkey</h1>
			<div class=contactinfo>
				<p>Seattle, Washington</p>
				<a href="mailto:olstarkey@gmail.com?subject=Following%20Up"><p>Email ME!</p></a>
				<a href="https://www.linkedin.com/pub/orberzen-starkey/3/956/784" target="_blank"><p> My LinkedIn Profile</p></a>
			</div>

      <!-- section 1 education -->

		<div class=education>
				<p>Education</p>
				<p>Howard University, Washington D.C.| Graduated in 2007</p>
				<p>BBA in Marketing</p>
		</div>

    <div class=techskills>
				<p>Technological Skills</p>
				<p>HTML</p>
				<p>CSS</p>
				<p>Ruby	</p>
		</div>

    <!-- section 2, professional experience -->

    		<div class=experience>
    			<h3>Professional Experience</h3>
    				<h4>Silverpop, An IBM Company</h4>
    				<h4>February 2012-September 2015</h4>
    				<h4>Business Development Representative</h4>

    					<ul>
    						<li>Performed sales and marketing calls to reserve meetings with prospective clients</li>
    						<li>Recognized for consistently achieving goals by providing over 200 qualified opportunities to sales team and assisting with the close of over $500,000 in revenue.</li>
    						<li>Developed relationships with key decision makers to educate and guide through early stages of vendor evaluation and research.</li>
    						<li>Cleansed, updated, and enhanced sales data to better target inbound sales leads.</li>
    						<li>Trained Business Development team on sales prospect research techniques.</li>
    						<li>Assisted with other marketing agendas including development of demand generation lead nurturing programs, scoring, email campaigns, and sales campaign metrics.</li>
    					</ul>



    				<h4>RainKing Online</h4>
    				<h4>Sept 2010-October 2011</h4>
    				<h4>Corporate Researcher</h4>
    					<ul>
    						<li>Conducted in-depth phone interviews with upper level executives to determine the internal operations and business structure of Information Technology Departments at Fortune 1000 companies.</li>
    						<li>Analyzed and organized research findings into comprehensive and accurate profiles used by clients.</li>
    						<li>Managed accounts of 140+ profiles, updating and verifying data on a continuous cycle.</li>
    						<li>Communicated regularly with clients and handled personal research requests in a timely manner.</li>
    						<li>Trained new hires on overall job duties and advanced research and investigative techniques.</li>
    						<li>Supervised the work production of offshore associates to ensure quality data entries.</li>
    					</ul>

    				<h4>Presentation Services Audio Visual (PSAV)</h4>
    				<h4>March 2008-September 2009</h4>
    				<h4>Event Technology Sales Manager</h4>
    					<ul>
    						<li>Worked directly with over 30 clients a month to fulfill their audio visual service, labor, and equipment needs.</li>
    						<li>Personally generated sales revenues of $150,000-$200,000 per month.</li>
    						<li>Leveraged knowledge of the Audio Visual Industry to educate current and potential clients on services offered.</li>
    						<li>Personally responsible for budgeting costs so as to organize client events efficiently and cost effectively. </li>
    					</ul>

    				<h4>ONLOQ Video Network (Onloq.com)</h4>
    				<h4>May 2007-March 2008</h4>
    				<h4>Content Manager</h4>
    					<ul>
    						<li>Identified and led pitch sessions to determine why content should be showcased on company's new website. </li>
    						<li>Provided critical market research and feedback in determining overall look and feel of new site.</li>
    						<li>Successfully acquired new content assets by developing creative opportunities to expand asset owners' brand to a wider audience. </li>
    						<li>Helped promote and market website to potential viewers through online marketing. </li>
    						<li>Continued to develop and maintain relationships with asset owners, maintain company content database, and research trends in demographic shifts of target audience.</li>
    					</ul>
    		</div>



    	</body>




		</div>

		<!-- ending div for entire html file wrapped up in div class "resume" for Rails -->
