.retro {
  color: #b9c5db;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 80px 'BazarMedium';
  letter-spacing: 10px;
}

.h {
  display: inline-block;
  float: right;
}

.h li {
  font-size: 200%;
  padding-left: 40px;
  padding-top: 20px;
  color: #2b6294;
}

.h li a {
  color: #2b6294;
}

.header {
  padding-top: 20px;
}

.header a:hover {
  color: #b9c5db;
}

.h li a:hover {
    color: #bb343a;
}

#sub-wrapper:before{
  content: "";
  display: block;
  clear: both;
  padding-top: 30px;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen
and (min-width : 685px)
and (max-width : 820px) {

  .retro {
    font: 60px;
  }

  .h li {
    font-size: 150%;
  }
}

@media only screen
and (max-width : 685px) {

  .retro {
    color: #b9c5db;
    text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px #5c5f72;
    font: 30px 'BazarMedium';
  }

  .h li {
    font-size: 100%;
    padding-top: 0;
    padding-left: 10px;
  }

  .header {
    padding-top: 20px;
  }
}
