body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Futura, sans-serif;
  background-color: #e6ebef;
  color: #1c1513;
}

#sub-wrapper {
  min-height: calc(100vh - 100px - 165px)
}

.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.sub-container {
  width: 33.33333%;
  float: left;
}

.sub-sub-container {
  width: 66.6666%;
  float: left;
}

#footer {
	background: #b9c5db;
	width: 100%;
	height: 100px;
  clear: both;
	bottom: 0;
	left: 0;
}
