<div class="container blog">
  <div class="sub-sub-container">
    11/03/2015
    <h2>Resources for learning web development</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada a enim ac vehicula. Integer cursus leo ex, sed tempor felis commodo et. Integer maximus mollis nulla, vel euismod sem tincidunt vitae. Integer pretium, elit at consectetur tempus, nisl eros finibus magna, luctus feugiat eros est sed lectus. Cras efficitur feugiat nunc nec vestibulum. Nulla nec sem sed lectus luctus varius. Suspendisse tempus scelerisque enim. Phasellus id quam molestie nibh luctus ultricies id vel nunc. Morbi rutrum volutpat magna, eu accumsan tellus luctus vitae. Maecenas blandit eros sed odio interdum condimentum.</p>
    <p>Proi et vulputate nisi. Mauris tempus sapien eu sollicitudin vulputate. Curabitur nec semper ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sit amet enim quis ex scelerisque viverra. Praesent at blandit sem. Aliquam placerat justo vitae magna gravida efficitur. Aenean bibendum interdum lobortis. Nulla sodales venenatis placerat. Etiam sit amet sapien a felis scelerisque tincidunt quis nec libero. Aenean mauris felis, fringilla ut dignissim eget, feugiat vel nisl. Phasellus consequat arcu id congue molestie. Praesent egestas tellus nulla, nec suscipit nisl consequat a. Nullam lacinia, neque sed pretium tristique, quam dui porta neque, ornare porta urna dui non augue. Pellentesque eget aliquet sem.</p>
  </div>
  <div class="sub-container">
    <h3>Posts</h3>
    <p>Links for posts</p>
  </div>
</div>
