<div class="home_background">
  <div class="container">
    <div class="header">
      <h1>Evelyn Bell</h1>
      <div class="intro">
        <div class="wrapper">
          <p class="text">Aspiring software developer.</p>
          <span class="text1">Enthusiast of</span>
          <div class="rotating_word">
            <span class="text">the great outdoors.</span>
            <span class="text">concerts.</span>
            <span class="text">unplanned adventures.</span>
            <span class="text">learning.</span>
            <span class="text">amusement parks.</span>
            <span class="text">traveling.</span>
            <span class="text">happy hours.</span>
            <span class="text">photography.</span>
            <span class="text">scenic routes.</span>
            <span class="text">campfires.</span>
          </div>
        </div>
      </div>
      <div class="navigation">
        <ul>
          <!-- <li><a href="/about-me">About Me</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/projects">Projects</a></li> -->
          <li><%= link_to "About Me", "/about-me" %></li>
          <li><%= link_to "Work", "/work" %></li>
          <li><%= link_to "Projects", "/projects" %></li>
        </ul>
      </div>
    </div>
    <div class="space">
    </div>
    <div class="footer">
      <div class="social_links">
        <ul>
          <li><a href="https://www.linkedin.com/pub/evelyn-bell/a1/868/85" class="fa fa-lg fa-linkedin"></a></li>
          <li><a href="https://github.com/xbell" class="fa fa-lg fa-github"></a></li>
          <li><a href="mailto:evieb16@gmail.com" class="fa fa-md fa-envelope"></a></li>
          <li><a href="https://www.google.com/maps/place/Bells+Beach+VIC,+Australia/@-38.3672591,144.2837531,13z/data=!4m2!3m1!1s0x6ad464d36223400b:0x4076889a750072b" class="fa fa-md fa-camera-retro"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer_space">
    </div>
  </div>
</div>
