<div class="separator">
</div>
<div class="container projects">
  <div class="sub-container">
    <p class="style">Code Builders Apprentice</p>
    <ul>
      <li class="position"><a href ="https://github.com/smurfik/soapbox">
          <%= image_tag "soapbox.png", class: "adj_images hvr-shrink" %>
        </a>
      </li>
      <li class="position"><a href ="https://github.com/smurfik/far_mar">
          <%= image_tag "far_mar.png", class: "adj_images hvr-shrink" %>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container projects">
  <div class="sub-container">
    <p class="style">Todo App</p>
    <ul>
      <li class="center"><a href ="https://github.com/smurfik/todo">
          <%= image_tag "todo.png", class: "adj_images hvr-shrink" %>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container projects">
  <div class="sub-container">
    <p class="style">The Odin Project</p>
    <ul class="stuff">
      <li class="center"><a href ="https://github.com/smurfik/google-homepage">
          <%= image_tag "google_homepage.png", class: "adj_images hvr-shrink" %>
        </a>
      </li>
    </ul>
  </div>
</div>
