<div class="separator">
</div>
<div class="container projects">
  <div class="sub-container">
    <p class="style">Code Builders Apprentice</p>
    <ul>
      <li class="position">
        <%= link_to image_tag("soapbox.png", class: "adj_images hvr-shrink"), "https://github.com/smurfik/soapbox" %>
      </li>
      <li class="position">
        <%= link_to image_tag("far_mar.png", class: "adj_images hvr-shrink"), "https://github.com/smurfik/far_mar" %>
      </li>
    </ul>
  </div>
</div>

<div class="container projects">
  <div class="sub-container">
    <p class="style">Todo App</p>
    <ul>
      <li class="center">
        <%= link_to image_tag("todo.png", class: "adj_images hvr-shrink"), "https://github.com/smurfik/todo" %>
      </li>
    </ul>
  </div>
</div>

<div class="container projects">
  <div class="sub-container">
    <p class="style">The Odin Project</p>
    <ul class="stuff">
      <li class="center">
        <%= link_to image_tag("google_homepage.png", class: "adj_images hvr-shrink"), "https://github.com/smurfik/google-homepage" %>
      </li>
    </ul>
  </div>
</div>
