<div class="separator">
</div>
<div class="container">
  <div class="sub-container">
    <p class="style">Code Builders Apprentice</p>
    <ul>
      <li class="position"><a href ="https://github.com/smurfik/soapbox">
          <img src="/assets/soapbox.png" alt="SoapBox App" class="adj_images hvr-shrink">
        </a>
      </li>
      <li class="position"><a href ="https://github.com/smurfik/far_mar">
          <img src="/assets/far_mar.png" alt="Far_mar App" class="adj_images hvr-shrink">
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="sub-container">
    <p class="style">Todo App</p>
    <ul>
      <li class="center"><a href ="https://github.com/smurfik/todo">
          <img src="/assets/todo.png" alt="Todo App" class="adj_images hvr-shrink">
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="sub-container">
    <p class="style">The Odin Project</p>
    <ul class="stuff">
      <li class="center"><a href ="https://github.com/smurfik/google-homepage">
          <img src="/assets/google_homepage.png" alt="The Odin Project" class="adj_images hvr-shrink">
        </a>
      </li>
    </ul>
  </div>
</div>
