
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




.homepage {
background-color:#00E5EE;
font-family: Calibri;
margin:0px;
/*body had a margin and took it out to allow divs to stretch full screen*/
}
/*TOOK OUT BODY BECAUSE THIS GOES TO MULTIPLE PAGES, WILL STYLE PAGES ACCORDING TO MAIN DIV WRAPPERS*/


.socialmedia li {
  /*position:relative;*/
  left:250px;
  display:inline-block;
  float:right;
  padding: 15px;
}


.emailsignup li{
  display:inline-block;
  color:white;
  margin:0;
  margin-left:50%;
  padding-top:20px;
}

.lollipop{
  float:left;
  /*margin-left:180px;*/
  /*border:2px solid black;*/
}


.welcome{
  color:white;
  clear:both;
  font-family:calibri;
  text-align:center;
  background-color: #f88379;
  /*margin:0;*/
  padding: 5px 0px 5px 0px;
  width:100%;

}


.welcome p{
  font-size:20px;
  color:white;
}


.mainpic {
  height:533px;
  width:100%;
  background-image:url("/assets/217Hcopy.jpeg");
  background-size:cover;
}
/*have to put height/width on the actual image itself and NOT the class*/


.retropics {
float:left;
width:33.29%;
/*#width as a percentage makes it equal colums, just divide by 100%*/
/*border:1px solid black;*/
}


.retropics:first-child {
  margin-left: 0px;
}
/*#move right pic all the way to the left*/

.retropics img {
  width:100%;
  height:100%
}


.workheader {
 margin:20px 0px 0px 0px;

 padding-left:20px;
}


.mywork li{
 display:inline-block;
 padding:40px;
 margin:0px;
}

.mywork li img:hover{
  background:white;
}

.workwrapper{
  float:right;
  text-align:center;
}

.myworkcol2 li{
  position:relative;
  display:inline-block;
  width:100%;
  margin:0px;

}

.myworkcol2 li img:hover{
  background:white;
}
/*#the relative function is tied to top and left values of the .myworkcol2
and .mywork css files, moves to wherever you want on the page*/

.contactme{
  color:white;
  font-size:40px;
  font-family:calibri;
}

.pairprogram{
  font-style:bold;
  font-size:18px;
  background-color:white;
  margin:0px;
  padding-left:20px;
  padding-right:20px;
  height:285px;
  /*width:100%;*/

}


.pairprogram p{
  padding:0px;
  margin:0px 0px 20px 0px;
  /*border:1px solid black;*/
}


.pairprogram img{
  height:100px;
  width:100%;
}
