
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.homepage {
background-color:#00E5EE;
font-family: Calibri;
margin:0px;
/*body had a margin and took it out to allow divs to stretch full screen*/
}
/*TOOK OUT BODY BECAUSE THIS GOES TO MULTIPLE PAGES, WILL STYLE PAGES ACCORDING TO MAIN DIV WRAPPERS*/

body{
  margin:0px;
}

.socialmedia{
  margin:0;
}
.socialmedia li {
  /*position:relative;*/
  left:250px;
  display:inline-block;
  float:right;
  padding: 15px;
  height:84px;
}

.emailsignup{
  margin:0;
}

.emailsignup li{
  display:inline-block;
  color:white;
  margin:0;
  margin-left:50%;
  font-family: 'Rock Salt', cursive;
  margin-bottom:5px;
  margin-top:10px;

}


.lollipop{
  float:left;
  /*margin-left:180px;*/
  /*border:2px solid black;*/
}

.welcome{
  color:white;
  clear:both;
  /*font-family:"Playfair";*/
  text-align:center;
  background-color: #f88379;
  /*margin:0;*/
  padding: 5px 0px 5px 0px;
  width:100%;

}
.welcome h1{
  font-family: 'Rock Salt', cursive;
  /*font-size:30px;*/
}


.welcome p{
  font-size:20px;
  color:white;
  font-family: 'Josefin Sans', sans-serif;
}


.mainpic {
  height:800px;
  width:100%;
  background-image:url("/assets/233H.jpg");
  background-size:cover;
}
/*have to put height/width on the actual image itself and NOT the class*/

.retropics {
float:left;
width:33.29%;
height:284px;

/*#width as a percentage makes it equal colums, just divide by 100%*/
/*border:1px solid black;*/
}


.retropics:first-child {
  margin-left:0px;
}

/*#move right pic all the way to the left*/

.retropics:last-child {
  margin-right:0px;
  /*height:284px;*/
}

.retropics img {
  width:100%;
  /*height:100%*/
  padding-bottom:0px;
  height:284px;

}



.workheader {
 margin:20px 0px 0px 0px;
 padding-left:20px;
}


.mywork li{
 display:inline-block;
 padding:40px;
 margin:0px;
}

.mywork li img:hover{
  background:white;
}


.workwrapper{
  float:right;
  text-align:center;
}

.myworkcol2 li{
  position:relative;
  display:inline-block;
  width:100%;
  margin:0px;

}

.myworkcol2 li img:hover{
  background:white;
}
/*#the relative function is tied to top and left values of the .myworkcol2
and .mywork css files, moves to wherever you want on the page*/

.contactme {
  color:white;
  font-size:25px;
  font-family: 'Rock Salt', cursive;
  margin:0px;
  padding-top:0px;
}

.pairprogram{
  float:right;
  width:50%;
  padding-top:20px;
  /*font-style:bold;
  font-size:18px;*/
  background-color:#f88379;
  margin:0px;
  height:141px;
  /*padding-left:20px;
  padding-right:20px;
  height:285px;*/
  /*width:100%;*/

}


.pairprogram p{
  padding-left:25px;
  /*margin:0px 0px 20px 0px;*/
  /*border:1px solid black;*/
  font-family: 'Josefin Sans', sans-serif;
  font-size:18px;
  color:white;

}

.pairprogram img {
  height:50;
  /*padding-left:30px;*/
  border: 6px solid white;
  float:right;

}
