
.projectsbody{

  height:800px;
  width:100%;
  background-image:url("/assets/creatives-desk.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

.projectspage{
  background-color:#f88379;
  font-size:20px;
  border:1px solid black;
  height:30%;
  text-align:center;
  color:white;
  font-family: 'Josefin Sans', sans-serif;
  font-size:25px;

}


.codebuilders{
  color:black;
  font-family: 'Rock Salt', cursive;
}
