.about_me_background {
  background: url("/assets/reflection2.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.header {
  background-color: rgb(19, 23, 20);
  background-color: rgba(19, 23, 20, 0.6);
  color: beige;
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 325%;
  padding-top: 5%;
}

.about_me {
  text-align: left;
  color: beige;
}

.about_me .text {
  font-size: 20px;
  padding-top: 3%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*.images {
  padding-bottom: 2%;
  text-align: center;
  max-width: 100%;
  height: auto;
  width: auto;
}*/

/*.images img {
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.images img:hover {
  background-image: url("/assets/abeltasman2copy.png")
}*/

ul.img {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img li {
  display: inline-block;
  /*height: 200px;*/
  margin: 4% 5% 1% 4%;
  position: relative;
  /*width: 200px;*/
}

span.img_txt {
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: table;
  height: 216px;
  left: 0;
  position: absolute;
  top: 0;
  width: 216px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.img_txt span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img li:hover span.img_txt {
  opacity: 1;
}
