.home_background {
  background: url("/assets/bellsbeach2copy.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: "Perpetua" sans-serif;
}

.header {
  background-color: rgb(19, 23, 20);
  background-color: rgba(19, 23, 20, 0.6);
  color: beige;
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 325%;
  padding-top: 5%;
}

.intro {
  width: 100%;
  font-size: 180%;
  display: block;
}

.intro p {
  margin: 0;
}

.wrapper {
  text-align: left;
  width: 400px;
  margin: 0 auto;
  overflow: visible;
  white-space: nowrap;
}

.rotating_word {
  display: inline-block;
  text-align: left;
  width: 300px;
  position: relative;
  top: -28px;
}

.rotating_word span {
  position: absolute;
  padding-bottom: 5px;
  opacity: 0;
  overflow: hidden;
  width: 300px;
  animation: rotateWordsFirst 30s linear infinite 0s;
}

.rotating_word span:nth-child(2) {
  animation-delay: 3s;
}

.rotating_word span:nth-child(3) {
  animation-delay: 6s;
}

.rotating_word span:nth-child(4) {
  animation-delay: 9s;
}

.rotating_word span:nth-child(5) {
  animation-delay: 12s;
}

.rotating_word span:nth-child(6) {
  animation-delay: 15s;
}

.rotating_word span:nth-child(7) {
  animation-delay: 18s;
}

.rotating_word span:nth-child(8) {
  animation-delay: 21s;
}

.rotating_word span:nth-child(9) {
  animation-delay: 24s;
}

.rotating_word span:nth-child(10) {
  animation-delay: 27s;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 32.7273px; }
    15% { opacity: 0; height: 32.7273px; }
	  25% { opacity: 0; height: 32.7273px; }
    100% { opacity: 0; height: 32.7273px; }
}
